.banner {
  height: 110vh;
  margin-top: -100px;
  overflow: hidden;
  position: relative;
}

.banner-text {
  align-content: center;
  font-size: 11.2em;
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.35;
}

.product {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  bottom: 10vh;
  z-index: 2;
  width: 500px;
  transition: 0.7s;
}

.product .soda {
  position: absolute;
  bottom: 0;
  left: calc(50%);
  transform: translateX(-50%);
}

.soda {
  --left: -50px;
  background: var(--url) var(--left), url(../img/tin1.png) 0 0;
  background-size: auto 100%;
  width: 280px;
  aspect-ratio: 13/27;
  background-blend-mode: multiply;
  transition: 0.8s;
  mask-image: url(../img/tin1.png);
  mask-size: auto 100%;
}

.soda:nth-child(2) {
  opacity: 0;
}

.product:hover {
  bottom: 5vh;
}

.product:hover .soda:nth-child(2) {
  opacity: 1;
  --left: 600px;
}
.product:hover .soda:nth-child(1) {
  opacity: 0;
  --left: 500px;
}

.banner-info {
  position: absolute;
  right: 10%;
  top: 50%;
  align-items: center;
  font-size: 1.6em;
}

.custom-shape-divider-top-1740985708 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1740985708 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.section2-cont{
    display: flex;
    margin: 10vh 3vh;
}

.section2-cont .soda{
  position: relative;
  transform: translateX(-250%);
  transition: transform 0.8s ease-in-out, opacity 0.8s;
}

.section2-cont .soda.visible:nth-child(1) {
  transform: translateX(0);
  transition: ease-in 3s;
}

.section2-cont .soda.visible:nth-child(2) {
  transform: translateX(0);
  transition: ease-in 2s;
}

.section2-cont .soda.visible:nth-child(3) {
  transform: translateX(0);
  transition: ease-in 1s;
}

.section2-cont .soda:nth-child(2) {
  opacity: 1;
}

.custom-shape-divider-bottom-1741055599 {
  position: relative;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1741055599 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
}

.custom-shape-divider-bottom-1741055599 .shape-fill {
  fill: #FFA500;
}

.item-category{
  background-color: #FFA500;
  height: 55vh;
}

.our-products-title{
  background-color: #FFA500;
  margin: 0;
  padding: 0;
}

.section-info{
  width: 50%;
}

.item-category-card{
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  background-size: cover ;
}

.item-category-name{
  position: relative;
  background-color: #242424;
  z-index: 5;
  margin: auto;
  padding: 2vh;
  color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.soda-wrapper{
  display: flex;   
}

@media(max-width:769px){
  .soda{
    width: 225px;
  }

  .section2-cont{
    flex-direction: column;
  }

  .section-info{
    width: 100%;
  }

  .banner-info{
    text-align: end;
  }

  .item-category a{
    max-width: 100%;
    box-sizing: border-box;
    height: 33vh;
    margin: 30px;
  }

  .item-category{
    height: 100%;
  }

}

@media(max-width:650px){
  .product{
    left:50%;
  }

  .banner-info{
    right:0
  }

  .item-category{
    flex-direction: column;
    height: 100%;
  }

  .item-category a {
    max-width: 100%; 
    width: auto !important ;
    box-sizing: border-box;
    height: 55vh;
    margin: 30px !important;
  }
}